<div class="row header">
	<span style="color:#fff;font-size: 12px;line-height: 34px;">Ngobrol  v.b.0.0.1</span><span style="float:right;"><button id="logout" class="btn btn-default" type="button">Logout</button></span>
</div>
<div id="msg">
</div>
<div class="row main" id='chatcontainer'>
</div>

<div class="row footer">
	<div class="input-group" id="formchat">
		<input name="chat_text" type="text" class="form-control">
		<span class="input-group-btn">
		<button id="btnchat" class="btn btn-default" type="button">Kirim</button>
		</span>
	</div>
</div>
